.form-contact {
  height: 80vh;
  button {
    background-color: $pink;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    &:hover {
      opacity: 0.8;
    }
  }
}
