.navbar2 {
  display: flex;
  height: auto;
  background-color: $black;
  img {
    height: 170px;
    width: auto;
    padding: 10px;
  }
  .nav-links {
    display: flex;
    width: 100%;
    align-items: flex-end;
    a {
      padding: auto;
      width: 100%;
      text-align: center;
      text-decoration: none;
      color: white;

      height: 40px;
      line-height: 40px;
      text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -0.5px -0.5px 0px rgba(0,0,0,0.67);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
