// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #010f20;
$pink: #e2177d;

$yellow-1: #EDC970;
$taupe: #A99B7A;
$light-taupe: #C4AD76;
$grey: #8D897E;
$light-grey: #9B927C;
$brown: #594B2A;
