<div class=" form-contact container">
  <div class="row">
    <div class="formulaire col-xs-offset-3 col-xs-6">
      <form accept-charset="UTF-8" action="https://formkeep.com/f/XXXXXXXXXXXX" method="POST">
        <input type="text" name="name" placeholder="Votre nom" class="col-xs-12">
        <input type="text" name="name" placeholder="Votre prénom" class="col-xs-12">
        <input type="email" name="email" placeholder="Votre email" class="col-xs-12">
        <input type="tel" name="name" placeholder="Votre numéro de téléphone" class="col-xs-12">
        <textarea class="col-xs-12" name="body" placeholder="Votre demande" rows="10"></textarea>
        <input type="hidden" name="utf8" value="✓">
        <button type="submit" class="col-xs-12">Envoyer la demande</button>
      </form>
    </div>
  </div>
</div>
